*__pycache__*
*.ipynb_checkpoints/*
*.nc
*checkpoint*
*.png
*.out
submit*/*
*model.index
*model.data*
*.npz
*.pbtxt
hyperparameter/*
results/*
*.pkl
*.npy
tensorboard/*
lightning_logs/*
trained_nns/*
venv/*
oryx-build-commands.txt
*.pickle
*.pdf
old_*
*levante*
coarse_grain_tests.ipynb
eval_coarse_baseline.ipynb
pyrte_rrtmgp_test/*
*submit*
test.py
*Untitled*
data/*
*_dev.*
